{% extends "users/basic.html" %}
{% block content %}

<h2>Admin Analytics Dashboard</h2>

<hr>

<h3>Total Revenue</h3>
<p>₹ {{ total_revenue }}</p>

<hr>

<h3>Most Popular Movies</h3>
<ul>
    {% for movie in popular_movies %}
        <li>{{ movie.movie__name }} - {{ movie.total_bookings }} bookings</li>
    {% endfor %}
</ul>

<hr>

<h3>Busiest Theaters</h3>
<ul>
    {% for theater in busiest_theaters %}
        <li>{{ theater.theater__name }} - {{ theater.total_bookings }} bookings</li>
    {% endfor %}
</ul>

{% endblock %}
